In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
import seaborn as sns
import joblib

In [2]:
cust=pd.read_csv('train_go05W65.csv')

In [3]:
cust.head()

,Customer_ID,Gender,Age,Vintage,Is_Active,City_Category,Customer_Category,Product_Holding_B1,Product_Holding_B2
0,CC264719,Male,41,14,0,C1,S3,['P16'],['P8']
1,CC209679,Female,47,14,1,C1,S2,"['P13', 'P20']",['P3']
2,CC319633,Female,59,14,0,C2,S2,['P11'],['P00']
3,CC231413,Female,32,16,0,C1,S2,"['P8', 'P13']",['P6']
4,CC259633,Male,30,15,0,C2,S3,"['P16', 'P17', 'P21']","['P8', 'P12']"

In [4]:
cust.dtypes

Customer_ID           object
Gender                object
Age                    int64
Vintage                int64
Is_Active              int64
City_Category         object
Customer_Category     object
Product_Holding_B1    object
Product_Holding_B2    object
dtype: object

In [5]:
cust.describe()

                Age       Vintage     Is_Active
count  37748.000000  37748.000000  37748.000000
mean      38.521379     19.573169      0.264809
std       10.121811     10.252417      0.441237
min       24.000000      2.000000      0.000000
25%       29.000000     13.000000      0.000000
50%       37.000000     16.000000      0.000000
75%       47.000000     23.000000      1.000000
max       59.000000     65.000000      1.000000

In [6]:
cust.isnull().sum()

Customer_ID           0
Gender                0
Age                   0
Vintage               0
Is_Active             0
City_Category         0
Customer_Category     0
Product_Holding_B1    0
Product_Holding_B2    0
dtype: int64

In [7]:
cust.Customer_ID.value_counts()

CC363036    1
CC271957    1
CC379563    1
CC286805    1
CC235430    1
           ..
CC262908    1
CC222027    1
CC245051    1
CC249812    1
CC298683    1
Name: Customer_ID, Length: 37748, dtype: int64

In [8]:
cust.nunique()

Customer_ID           37748
Gender                    2
Age                      36
Vintage                  64
Is_Active                 2
City_Category             2
Customer_Category         3
Product_Holding_B1      617
Product_Holding_B2      495
dtype: int64